.header{
    position: fixed;
}

.header .menubar .dropdown{
    margin-left: 200px;
    width: 1100px;
}

.header .menubar .dropdown .mb01{
    float: left;
    width: 20%;
    height: 150px;
}

.header .menubar .dropdown .mb01 ul {
    position: absolute;
    display: none;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

/* 가상클래스 */

.header .menubar .dropdown:link a{
    color: #000000;
}

.header .menubar .dropdown:visited a{
    color: #000000;
}

.header .menubar .dropdown:hover ul{
    color: #000000;
    position: absolute;
    display: block;
    margin-top: 20px;
}

.header .menubar .dropdown:active a{
    color: #000000;
}

.header .menubar .dropdown ul li a:link {
    color: #000000;
}

.header .menubar .dropdown ul li a:visited{
    color: #000000;
}

.header .menubar .dropdown ul li a:hover{
    color: #000000;
}

.header .menubar .dropdown ul li a:active{
    color: #000000;
}