
body{
    width: 100%;
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
}

/* .header{
    position: fixed;
} */

.header .menubar .dropdown .mb01{
    float: left;
    width: 20%;
    height: 150px;
}

.header .menubar .dropdown .mb01 ul {
    position: absolute;
    display: none;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.header .menubar .dropdown:hover ul{
    position: absolute;
    display: block;
    margin-top: 20px;
}

.header .menubar .dropdown{
    margin-left: 200px;
    width: 1100px;
}