#activity_read{
    max-width: 900px;
    min-height: 700px;
    margin: 0 auto;
    padding: 180px 0 110px 0;
}

#activity_read h1{
    font-family: "NotoSansKR-Regular";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding: 0 0 22px 0;
}

#activity_read hr{
    width: 80px;
    background-color : #65A478;
    border: 1px solid #65A478;
    margin-bottom: 70px;
}

#activity_read h2{
    font-family: "NotoSansKR-Regular";
    font-size: 20px;
    text-align: center;
    padding : 20px 0;
    border-bottom: 1px solid #aaa;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.08);
}

#activity_read table{
    width: 100%;
    color: #333;
    text-align: center;
    font-family: "NotoSansKR-Regular";
    font-size: 14px;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
}

#activity_read table tr{
    border-bottom: 1px solid #ddd;
    padding : 10px 0;
}

#activity_read table tr .r_th{
    border-right: 1px solid #ddd;
    width: 200px;
    padding : 10px 0;
}

#activity_read table tr .r_td{
    font-family: "NotoSansKR-Light";
    text-align: left;
    padding: 10px 15px;
}

#activity_read .r_content{
    width: 830px;
    min-height: 200px;
    padding: 35px;
}

#activity_read .activity_list_btn{
    float: right;
    padding-top: 40px;
    margin-right: 5px;
}

#activity_read .activity_list_btn a{
    height: 42px !important;
    line-height: 42px !important;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 0;
    background: #65A478;
    border-radius: 5px;
    padding: 8px 15px;
}

#activity_read .activity_list_btn2{
    float: left;
    padding-top: 40px;
    margin-right: 5px;
}

#activity_read .activity_list_btn2>a{
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 0;
    background: #65A478;
    border-radius: 5px;
    padding: 8px 15px;
}
