#project {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 180px 0 110px 0;
}

#project h1 {
    font-family: "NotoSansKR-Regular";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding: 0 0 22px 0;
}

#project .p-hr {
    width: 80px;
    background-color: #6B5AE4;
    border: 1px solid #6B5AE4;
    margin-top: 0;
}

#project p {
    font-size: 16px;
    text-align: center;
    padding: 40px 0 30px;
}

#project form>p {
    font-family: "NotoSansKR-Regular";
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

#project form>input {
    border: none;
    border-bottom: 1px solid #a6a6a6;
    outline: none;
    font-size: 15px;
    padding: 8px;
    margin: 0 5px 70px;
}

#project form>button {
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 0;
    background: #6B5AE4;
    border-radius: 5px;
    margin: 0 10px 0;
    padding: 0 20px;
}

#project details summary {
    font-family: "NotoSansKR-Regular";
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    margin: 40px 0 40px;
}

#project hr {
    border: 0;
    height: 0.8px;
    margin-top: 40px;
    background: #707070;
}


#project details summary::-webkit-details-marker {
    display: none;
}

#project details summary:after {
    content: url("https://user-images.githubusercontent.com/48242362/75758108-e358e780-5d76-11ea-877b-3291055378de.png");
    float: right;
}

#project details[open] summary:after {
    display: inline;
    content: url("https://user-images.githubusercontent.com/48242362/75758104-e2c05100-5d76-11ea-8e72-8a4f0947813f.png");
}

#project .content {
    text-align: left;
    font-size: 16px;
    padding-bottom: 40px;
}

#project span {
    float: right;
    font-size: 11px;
    color: #848484;
}

#project .img1,
#project .img2 {
    width: 800px;
    padding-bottom: 20px;
}

#project .home_link a {
    color: #6B5AE4;
}