#activity{
    max-width: 1000px;
    margin: 0 auto;
    padding: 230px 0 110px 0;
}

#activity h1{
    position: relative;
    font-family: "NotoSansKR-Regular";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding: 0 0 22px 0;
}

#activity hr{
    width: 80px;
    border: 1px solid #65A478;
}

#activity p{
    text-align: center;
    font-size: 16px;
    padding: 20px 0 70px;
}

#activity table{
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    border-collapse: collapse;
    border-top: 2px solid #65A478;
    border-bottom: 2px solid #ddd;
}

#activity table thead tr th{
    padding: 10px;
}

#activity table thead tr{
    border-bottom: 2px solid #BDBDBD;
}

#activity table tr{
    border-bottom: 1px solid #ddd;
}

#activity table tbody tr td{
    width: 150px;
    height: 50px;
    font-family: "NotoSansKR-Light";
    font-size: 15px;
    text-align: center;
}

#activity table tbody tr .no{
    width: 80px;
}

#activity table tbody tr .title{
    width: 370px;
}

#activity .activity_btn{
    float: right;
    padding-top: 40px;
}

#activity .activity_btn a{
    height: 42px !important;
    line-height: 42px !important;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 0;
    background: #65A478;
    border-radius: 5px;
    padding: 8px 15px;
}