#login{
    max-width: 430px;
    margin: 0 auto;
    padding: 260px 0 80px 0;
}

#login #login_btn{
   height: 120px;
   width: 110px;
   cursor: pointer;
}

#login h1{
    font-family: "NotoSansKR-Regular";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding-bottom: 40px;
}

#login table{
    padding : 0 0 30px 0;
}

#login table tr .name_row{
    padding: 4px;
}

#login table tr td{
    font-family: "NotoSansKR-Regular";
    font-size: 17px;
    letter-spacing: -1px;
    color: #333;
}

#login table tr td input{
    width: 300px;
    height: 25px;
    padding: 4px;
}

#login .find_pw{
    text-decoration: underline;
}

#login .table_row{
    padding: 0 10px 15px 0;
}
/* 
#login .sign_up{
    color: #FF3333 !important;
    background-color: transparent !important;
    border-color: #FF3333 !important;
} */