#news{
    max-width: 1000px;
    margin: 0 auto;
    padding: 230px 0 110px 0;
}

#news h1{
    position: relative;
    font-family: "NotoSansKR-Regular";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding: 0 0 22px 0;
}

#news hr{
    width: 80px;
    border: 1.5px solid #65A478;
}

#news p{
    font-size: 16px;
    text-align: center;
    padding: 40px 0 40px 0;
}
