#project{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 230px 0 110px 0;
}

#project h1{
    font-family: "NotoSansKR-Regular";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding: 0 0 22px 0;
}

#project hr{
    width: 80px;
    border: 1px solid #65A478;
}

#project p{
    font-size: 16px;
    text-align: center;
    padding: 40px 0 70px;
}

#project .title{
    font-family: "NotoSansKR-Regular";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: left;
    padding: 0 0 22px 0;
}

#project .content{
    text-align: left;
    font-size: 16px;
    padding-bottom: 40px;
}

#project span{
    float: right;
    font-size: 11px;
    color: #848484;
}

#project>div{
    padding-bottom: 150px;
}

#project .img1, #project .img2{
    width: 800px;
    padding-bottom: 20px;
}

#project .home_link a{
    color : #65a478;
}