<!-- <div id="contents">
    <a href="..\..\views\base\index.html"><img src="..\..\..\public\img\title_test.png" class="bookstore-img"
            alt="책잡이로고"></img></a>
</div> -->

<div id="contents">
    <img src="..\..\..\public\img\b1.jpg" class="bookstore-img" alt="책잡이로고1"></img>
    <!-- <p class="writing">자신의 독서타입 알려주고, <br> 자신에게 맞는 장르의 책을 추천받으러 가기</p> -->
    <img src="..\..\..\public\img\b2.jpg" class="bookstore-img2" alt="책잡이로고2"></img>
    <img src="..\..\..\public\img\b3.jpg" class="bookstore-img3" alt="책잡이로고3"></img>
</div>