<!DOCTYPE html>
<html>

<head>
    <title>책잡이</title>

    <link rel="stylesheet" href="..\..\..\public\css\base_css\reset.css">
    <link rel="stylesheet" href="..\..\..\public\css\base_css\header.css">
    <link rel="stylesheet" href="..\..\..\public\css\base_css\footer.css">
    <link rel="stylesheet" href="..\..\..\public\css\base_css\introduce.css">
    <link rel="stylesheet" href="..\..\..\public\fonts\font.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="..\..\js\includeHtml.js"></script>
    <script type="text/javascript" src="..\..\js\completed.js"></script>
</head>

<body>
    <include-html target="..\base\header.php" completed="headerCompleted"></include-html>

    <div id="introduce">
        <div id="intro1">
            <h1>소개</h1>
            <hr>
            <table>
                <tr>
                    <td><img src="..\..\..\public\img\intro5.jpg"></td>
                    <td>
                        <div class="sub-title">만든이의 개성을 닮은 책</div>
                        <div class="title">‘독립출판물’</div>
                        <div class="content">대형 출판사를 통한 통상적인 책 제작 방식에서 벗어나
                            개인이나 소수 그룹이 기획, 편집, 인쇄, 제본해서 출판한 책을 말합니다.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="sub-title">독특하고 자유로운 공간</div>
                        <div class="title">‘독립서점’</div>
                        <div class="content">
                            대형서점에서 볼 수 없는 책으로 내기엔 소소하고 개인적인 주제들을 다룬 매력적인 독립출판물을
                            구입할 수 있는 서점입니다.
                        </div>
                    </td>
                    <td><img src="..\..\..\public\img\intro1.jpg"></td>
                </tr>
                <tr id="intro2">
                    <td><img src="..\..\..\public\img\intro4.jpg"></td>
                    <td>
                        <div class="title2">‘오늘날의 독립서점’</div>
                        <div class="content">대형서점(책 공급률 약 70%)과 독립서점(약 80%)의 공급률 차이문제로 수익을 내기 힘든 구조를 가졌을 뿐만 아니라,
                            <br>책은 보지 않고 가게 인테리어 사진만 찍어가는 멋진 공간으로만 소비가 된다는 점이 문제를 가지고 있습니다.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="sub-title">그럼에도 불구하고,</div>
                        <div class="title">‘독립서점 사장님들은’</div>
                        <div class="content">소규모 서점만 할 수 있는 기획을 통해 자신의 서점을 꿋꿋이<br>
                            개성 있게 꾸려나갑니다.
                            <br> &lt책잡이는&gt 독립서점 사장님의 정성으로
                            꾸며진 독립서점과 <br>애정이 담긴 독립출판물의 매력을 즐길 수 있는 웹사이트입니다.
                        </div>

                    </td>
                    <td><img src="..\..\..\public\img\intro2.jpg"></td>
                </tr>
            </table>
        </div>
    </div>
    <include-html target="..\base\footer.html" completed="footerCompleted"></include-html>

    <script>includeHtml();</script>
</body>

</html>