/* 새로운 메인표지 css */
#contents{
    width: 100%;
    margin: 0 auto;
    padding-top: 90px;
    overflow: hidden;
}

#contents h3{
    font-family: "NotoSansKR-Bold";
    font-size: 20px;
    margin-bottom: 40px;
}

#contents .main-img{
        width: 850px;
        float: right;
        position: relative;
        top: -10px;
        right: 160px;
        margin-right: 40px;
}

#contents .girls_one{
        width: 250px;
        position: relative;
        top: 290px;
        left: 390px;
}

#contents .girls_two{
        width: 270px;
        position: relative;
        top: 210px;
        left: 760px;
}

#contents .boy{
        width: 250px;
        position: relative;
        top: 60px;
        left: 700px;
}

#contents .point1{
        position: absolute;
        top: -25px;
        width: 150px;
        left: 435px;
        z-index: -1;
}

#contents .point2{
        position: absolute;
        top: 45px;
        width: 125px;
        left: 80px;
        z-index: -1;
}

#contents .recommend3 .news form .inputs{
        width: 700px;
        margin-left: 30px;
}

#contents .testBtn{
        background-color: white;
        position: relative;
        left: 0;
        top: 60px;
        width: 110px;
        border: 2px solid #6B5AE4;
        padding: 10px 10px;
        border-radius: 30px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-left: 5px;
}

#contents .sentence{
        position: relative;
        top: 80px;
        left: 380px;
        font-size: 27px;
        color: black;
        z-index: 1;
        line-height: 1.9;
}

#contents .sentence .testBtn a{
        font-family: 'NotoSansKR-Bold';
        color: #6B5AE4;
        text-align: center;
}

#contents .sentence p>span{
        font-family: 'NotoSansKR-Bold';
        font-size: 30px;
}

#contents .icon{
    width: 300px;
    float: left;
    text-align: center;
}

#contents .icon>div{
    padding-bottom: 15px;
}

#contents .icon div img{
        width: 40px;
        padding-right: 5px;
}
#contents .recommend3{
        width: 100%;
        height: 250px;
        float: left;
        padding: 150px 0px 0px 320px;    
}
    
#contents .recommend3 form p{
        font-family: "NotoSansKR-Regular";
        font-size: 16px;
        text-align: center;
        padding: 5px 20px 18px 20px;
}

#contents .recommend3 .icon p{
    display: inline-block;
    width: 150px;
    font-size: 18px;
    text-align: left;
    color: #757575;
}

#contents .recommend3 .icon a{
    display: block;
    width: 140px;
    border: 1px solid #b6b6b6;
    padding: 10px 26px;
    color: #757575;
    font-size: 16px;
    margin: 0 auto;
}

#contents .news{
        max-width: 580px;
        float: left;
        padding: 0;
}

#contents .recommend3 form input{
    border: none;
    border-bottom: 1px solid #a6a6a6;
    outline: none;
    font-size: 15px;
    padding: 8px;
    margin: 0 5px;
}

#contents .recommend3 form button{
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border: 0;
    background: #6B5AE4;
    border-radius: 5px;
    margin: 0 10px 0;
    padding: 0 20px;
}

@-webkit-keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateY(70deg);
              transform: rotateY(70deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }
  @keyframes swing-in-right-bck {
    0% {
      -webkit-transform: rotateY(70deg);
              transform: rotateY(70deg);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
  }
  

#swing-in-right-bck {
	-webkit-animation: swing-in-right-bck 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-right-bck 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-bck {
    0% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-bck {
    0% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

#swing-in-top-bck {
	-webkit-animation: swing-in-top-bck 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-bck 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-left-fwd {
    0% {
      -webkit-transform: rotateY(100deg);
              transform: rotateY(100deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  @keyframes swing-in-left-fwd {
    0% {
      -webkit-transform: rotateY(100deg);
              transform: rotateY(100deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }

  
#swing-in-left-fwd {
	-webkit-animation: swing-in-left-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-left-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
