#contents {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
}

#contents .wrap {
        display: block;
        width: 1100px;
        max-height: 600px;
        z-index: 1;
        margin: 0 auto;
        padding-top: 180px;
}

#contents .content-top {
        position: relative;
        font-size: 27px;
        color: black;
        z-index: 1;
        line-height: 1.9;
}

#contents .content-top .testBtn a {
        font-family: "NotoSansKR-Bold";
        color: #6B5AE4;
        text-align: center;
        z-index: 1;
}

#contents .content-top p>span {
        font-family: "NotoSansKR-Bold";
        font-size: 30px;
        z-index: 1;
}

#contents .point1 {
        position: absolute;
        top: 40px;
        left: 210px;
        width: 130px;
        z-index: -1;
}

#contents .point2 {
        position: absolute;
        top: -18px;
        right: 380px;
        width: 150px;
        z-index: -1;
}

#contents .mungu {
        padding-left: 135px;
}

#contents .testBtn {
        position: absolute;
        background-color: white;
        width: 110px;
        border: 2px solid #6B5AE4;
        padding: 10px 10px;
        border-radius: 30px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin-top: 30px;
        z-index: 1;
}

#contents .content-bottom {
        position: relative;
}

#contents .main-img {
        position: absolute;
        width: 850px;
        right: 20px;
        z-index: -1;
}

#contents .girlsboy {
        position: absolute;
        width: 760px;
        top: 310px;
        right: 75px;
        z-index: 1;
}

@media screen and (max-width: 1520px) {
        #contents .wrap {
                padding-top: 160px;
        }
}


@media screen and (max-width: 1920px) {
        #contents .wrap {
                padding-top: 200px;
        }

        #contents .main-img {
                position: absolute;
                width: 920px;
                top: 170px;
                right: 20px;
                z-index: -1;
        }

        #contents .girlsboy {
                position: absolute;
                width: 860px;
                top: 380px;
                right: 75px;
                z-index: 1;
        }

}
