#introduce{
    max-width: 1000px;
    margin: 0 auto;
    padding: 190px 0 0 0;
}

#introduce h1{
    font-family: "NotoSansKR-Regular";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding: 0 0 22px 0;
}

#introduce hr{
    width: 80px;
    background-color: #65A478;
    border: 1px solid #65A478;
}

#introduce img{
    width: 500px;
    height: 300px;
    padding-top: 50px;
}

#introduce table{
    margin-bottom: 200px;
}
#introduce .sub-title{
    font-family: "NotoSansKR-Light";
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    color :  #458766;
    text-align: left;
    padding: 50px 25px 0;
}

#introduce .title{
    font-family: "NotoSansKR-Regular";
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    color :  #458766;
    text-align: left;
    padding: 0px 25px 20px;
}

#introduce .title2{
    font-family: "NotoSansKR-Regular";
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    color :  #458766;
    text-align: left;
    padding: 20px 25px 20px;
}

#introduce .content{
    font-family: "NotoSansKR-Light";
    color: #333;
    text-align: left;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 32px;
    padding: 0 25px;
}