#book_test{
    max-width: 600px;
    margin: 0 auto;
    padding: 180px 0 110px 0;
}

#book_test h1{
    font-family: "NotoSansKR-Regular";
    font-size: 33px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding: 0 0 22px 0;
}

#book_test hr{
    width: 80px;
    border: 1px solid #65A478;
    background-color: #65A478;
    margin-bottom: 70px;
}

#book_test .bookstore-img{
    width: 800px;
    display: block;
    margin: 0px auto;
}

#book_test .question{
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}


#book_test .options .op1, #book_test .options .op2{
    background-color: #F2F2F2;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

#book_test .editbtn{

    display: inline-block;
}

#book_test .testBody{
    background-color: #65A478;
}