#login_info{
    max-width: 445px;
    margin: 0 auto;
    padding: 230px 0 110px 0;
}

#login_info h1{
    font-family: "NotoSansKR-Regular";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding-bottom: 70px;
}

#login_info .user-img{
    width: 120px;
    padding-right: 50px;
}

#login_info table tr td{
    font-family: "NotoSansKR-Regular";
    font-size: 17px;
    color: #333;
    letter-spacing: -1px;
}

#login_info table tr .t1{
    width: 60px;
}

#login_info table tr .t2{
    width: 220px;
}

#login_info .btn2{
    font-family: "NotoSansKR-Regular";
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 42px;
    border: 0;
    background: #6B5AE4;
    border-radius: 5px;
    padding: 9px 150px;
    margin: 28px 0 0 12px;
}

#login_info .btns div{
    margin-bottom: 25px;
}

#login_info .btns{
    padding-top: 70px;
}

