#login{
    max-width: 445px;
    margin: 0 auto;
    padding: 230px 0 110px 0;
}

#login h1{
    font-family: "NotoSansKR-Regular";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    padding-bottom: 40px;
}

#login form table{
    margin: 0 auto;
}

#login form table tr .name_row{
    font-family: "NotoSansKR-Regular";
    font-size: 17px;
    color: #333;
    letter-spacing: -1px;
    padding: 4px;
}

#login form table tr .table_row{
    padding-bottom: 15px;
}

#login form table tr td .email, #login form table tr td .pw{
    width: 290px;
    height: 35px;
    padding: 4px;
    border: 1px solid #848484;
    border-radius: 5px;
}

#login form table tr td .login_btn{
    height: 135px;
    width: 120px;
    cursor: pointer;
    margin-left: 12px;
    font-family: "NotoSansKR-Regular";
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 42px;
    border: 0;
    background: #65A478;
    border-radius: 5px;
}

#login form table tr td .find_pw{
    text-decoration: underline;
}

#login form table tr td .signup_btn{
    height: 42px;
    font-family: "NotoSansKR-Regular";
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 42px;
    border: 0;
    background: #65A478;
    border-radius: 5px;
    padding: 10px 104px;
}