<!DOCTYPE html>
<html>

<head>
    <title>책잡이</title>

    <link rel="stylesheet" href="..\..\..\public\css\base_css\reset.css">
    <link rel="stylesheet" href="..\..\..\public\css\base_css\header.css">
    <link rel="stylesheet" href="..\..\..\public\css\base_css\footer.css">
    <link rel="stylesheet" href="..\..\..\public\css\news_css\watching.css">
    <link rel="stylesheet" href="..\..\..\public\fonts\font.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="..\..\js\includeHtml.js"></script>
    <script type="text/javascript" src="..\..\js\completed.js"></script>
</head>

<body>
    <include-html target="..\base\header.php" completed="headerCompleted"></include-html>

    <div id="watching">
        <h1>독립서점 구경가기</h1>
        <hr>
        <p>가지각색 매력을 지닌 독립서점의 웹사이트들을 소개합니다!</p>

        <table>
            <tr>
                <td>
                    <div><a href="http://www.your-mind.com/" target="_blank"><img
                                src="..\..\..\public\img\bookstore.png" class="web" alt="유어마인드 독립서점"></a></div>
                </td>
                <td>
                    <div><a href="https://byeolcheck.kr/" target="_blank"><img src="..\..\..\public\img\bookstore2.png"
                                class="web" alt="별책부록 독립서점"></a></div>
                </td>
            </tr>
            <tr>
                <td class="line">유어마인드</td>
                <td class="line">별책부록</td>
            </tr>

            <tr>
                <td>
                    <div><a href="https://smartstore.naver.com/justorage" target="_blank"><img
                                src="..\..\..\public\img\bookstore6.png" class="web" alt="스토리지북앤필름 독립서점"></a></div>
                </td>
                <td>
                    <div><a href="http://shop.zine-pages.com/shop/main/index.php" target="_blank"><img
                                src="..\..\..\public\img\bookstore3.png" class="web" alt="Zize Pages Shop"></a></div>
                </td>
            </tr>
            <tr>
                <td class="line">스토리지북앤필름</td>
                <td class="line">Zine pages Shop</td>
            </tr>
            <tr>
                <td>
                    <div><a href="https://dasibookshop.com/" target="_blank"><img
                                src="..\..\..\public\img\bookstore5.png" class="web" alt="다시서점"></a></div>
                </td>
                <td>
                    <div><a href="http://www.gongsangondo.com/" target="_blank"><img
                                src="..\..\..\public\img\bookstore4.png" class="web" alt="공상온도"></a></div>
                </td>
            </tr>
            <tr>
                <td class="line">다시서점</td>
                <td class="line">공상온도</td>
            </tr>
        </table>
    </div>

    <include-html target="..\base\footer.html" completed="footerCompleted"></include-html>

    <script>includeHtml();</script>

</body>

</html>