<!DOCTYPE html>
<html>

<head>
    <title>책잡이</title>

    <link rel="stylesheet" href="..\..\..\public\css\reset.css">
    <link rel="stylesheet" href="..\..\..\public\css\header.css">
    <link rel="stylesheet" href="..\..\..\public\css\footer.css">
    <link rel="stylesheet" href="..\..\..\public\fonts\font.css">
    <link rel="stylesheet" href="..\..\..\public\css\signup.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="..\..\js\includeHtml.js"></script>
    <script type="text/javascript" src="..\..\js\completed.js"></script>
    <script type="text/javascript" src="..\..\js\email_check.js"></script>
</head>

<body>
    <include-html target="..\base\header.html" completed="headerCompleted"></include-html>

    <div id="signup">
        <h1>회원가입</h1>
        <hr>

        <p>이미 회원이신가요?&nbsp<a href="login.php">로그인하기</a></p>

        <form method="post" action="signup.php">
            <table>
                <tr>
                    <td>이름</td>
                </tr>
                <tr>
                    <td class="table_row">
                        <input type="text" class="name" name="u_name" autocomplete="off" required placeholder="이름">
                    </td>
                </tr>
                <tr>
                    <td>이메일</td>
                </tr>
                <tr>
                    <td class="table_row">
                        <input type="email" class="email" name="email" autocomplete="off" required
                            placeholder="user@email.com">
                    </td>
                    <td>
                        <a href="#" OnClick="javascript:email_check(email.value)">회원가입 하기</a>
                    </td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                </tr>
                <tr>
                    <td class="table_row"><input type="password" class="pw" required placeholder="비밀번호">
                    </td>
                </tr>
                <tr>
                    <td>비밀번호 확인</td>
                </tr>
                <tr>
                    <td class="table_row"><input type="password" class="pw" name="pw" required placeholder="비밀번호 확인">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="signOk_btn" OnClick="javascript:email_check()">회원가입 하기</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <include-html target="..\base\footer.html" completed="footerCompleted"></include-html>

    <script>includeHtml();</script>
</body>

</html>