<!DOCTYPE html>
<html>

<head>
    <title>책잡이</title>

    <link rel="stylesheet" href="..\..\..\public\css\reset.css">
    <link rel="stylesheet" href="..\..\..\public\css\header.css">
    <link rel="stylesheet" href="..\..\..\public\css\footer.css">
    <link rel="stylesheet" href="..\..\..\public\css\introduce.css">
    <link rel="stylesheet" href="..\..\..\public\fonts\font.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="..\..\js\includeHtml.js"></script>
    <script type="text/javascript" src="..\..\js\completed.js"></script>
</head>

<body>
    <include-html target="..\base\header.html" completed="headerCompleted"></include-html>

    <div id="introduce">
        <h1>책잡이란?</h1>
        <hr>
        <div class="intro1">

            <img src="#">
            책잡이는
            서울시가 헌책방들을 모아 오래된 책의 가치를 담아 새로 만든 서울 헌책방입니다.
            오래된 책은 낡고 헌 책이 아닙니다. 시대 정신과 사람의 체온을 품은 유기체입니다.
            오래된 책에 새로운 가치를 입히는 복합문화공간 서울책보고 이곳에 오면 오래된 책이 보물이 됩니다.

            서울책보고는 헌 책을 그저 사고파는 곳이 아니라
            지금 이 시대를 대표하는 명사의 재능과 지식을 나누고 어디서도 만날 수 없는 다양한 독립출판물을 경험할 수 있는 공간입니다.

            서울책보고는 서울 시민들이 책이 주었던 소중한 추억을 되새기길 바랍니다. 서울책보고는 헌 책의 가치를 느끼는 가치의 공간, 명사·지식인들이 기증한 도서를 함께 읽는 나눔의 공간, 매력 있는
            독립출판물을 경험하는 향유의 공간, 책을 기반으로 다양한 문화 프로그램을 맛보는 경험의 공간이 될 것입니다.

            ‘내 삶을 바꾸는 지식문화도시, 서울’ 그 중심에 서울책보고가 있습니다.
        </div>

        <div class="intro2">
            책잡이는
            서울시가 헌책방들을 모아 오래된 책의 가치를 담아 새로 만든 서울 헌책방입니다.
            오래된 책은 낡고 헌 책이 아닙니다. 시대 정신과 사람의 체온을 품은 유기체입니다.
            오래된 책에 새로운 가치를 입히는 복합문화공간 서울책보고 이곳에 오면 오래된 책이 보물이 됩니다.

            서울책보고는 헌 책을 그저 사고파는 곳이 아니라
            지금 이 시대를 대표하는 명사의 재능과 지식을 나누고 어디서도 만날 수 없는 다양한 독립출판물을 경험할 수 있는 공간입니다.

            서울책보고는 서울 시민들이 책이 주었던 소중한 추억을 되새기길 바랍니다. 서울책보고는 헌 책의 가치를 느끼는 가치의 공간, 명사·지식인들이 기증한 도서를 함께 읽는 나눔의 공간, 매력 있는
            독립출판물을 경험하는 향유의 공간, 책을 기반으로 다양한 문화 프로그램을 맛보는 경험의 공간이 될 것입니다.

            ‘내 삶을 바꾸는 지식문화도시, 서울’ 그 중심에 서울책보고가 있습니다.
        </div>
    </div>

    <include-html target="..\base\footer.html" completed="footerCompleted"></include-html>

    <script>includeHtml();</script>
</body>

</html>