<!DOCTYPE html>
<html>

<head>
    <title>책잡이</title>

    <link rel="stylesheet" href="..\..\..\public\css\reset.css">
    <link rel="stylesheet" href="..\..\..\public\css\header.css">
    <link rel="stylesheet" href="..\..\..\public\css\footer.css">
    <link rel="stylesheet" href="..\..\..\public\css\introduce.css">
    <link rel="stylesheet" href="..\..\..\public\fonts\font.css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="..\..\js\includeHtml.js"></script>
    <script type="text/javascript" src="..\..\js\completed.js"></script>
</head>

<body>
    <include-html target="..\base\header.php" completed="headerCompleted"></include-html>

    <div id="introduce">
        <h1>책잡이란?</h1>
        <hr>

        <table>
            <tr>
                <td><img src="..\..\..\public\img\intro4.jpg"></td>
                <td>
                    <div class="title">'책잡이'는</div>
                    <div class="content">독립서점 사장님의 정성과 그리고 독립서점과 독립출판물의 매력을 즐길 수 있는 웹사이트입니다.
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="title"></div>
                    <div class="content"></div>
                </td>
                <td><img src="..\..\..\public\img\intro2.jpg"></td>
            </tr>
        </table>

        <h1>독립서점이란?</h1>
        <hr>
        <table>
            <tr>
                <td><img src="..\..\..\public\img\intro3.jpg"></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td><img src="..\..\..\public\img\intro1.jpg"></td>
            </tr>
        </table>

    </div>
    <include-html target="..\base\footer.html" completed="footerCompleted"></include-html>

    <script>includeHtml();</script>
</body>

</html>